body {
    margin: 0;
    padding: 0;
}

.app{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', sans-serif;
}

.logo{
    display: block;
    height: 45px;
    margin: 0 auto;
    padding: 20px;
}

.section ul{
    margin: 0 0 32px 0;
    padding: 16px 0;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.section li{
    display: inline-block;
    list-style: none;
    margin: 0 24px 0 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.section li.active{
    font-weight: bold;
}

.section .section-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articleThumb{
    flex-basis: 32%;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.15);
    
}
.articleThumb .image{
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.articleThumb h2{
    font-size: 18px;
    margin: 0;
    padding: 20px 20px 0 20px;
}

.articleThumb h3{
    font-size: 16px;
    margin: 0;
    padding: 8px 20px 20px 20px;
    font-weight: normal;
}